.not-found {
    max-width: 400px;
    margin: 0 auto;

    padding-top: 246px;
}

.not-found__section {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.not-found__title {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 140px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.not-found__text {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.not-found__link {
    font-family: Inter, Arial, sans-serif;
    color: #4285F4;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 184px;
    text-decoration: none;
}

.not-found__link:hover {
    opacity: 0.7;
}

@media screen and (max-width: 940px) {
    .not-found {
        padding-top: 408px;
        padding-bottom: 222px
    }
}

@media screen and (max-width: 560px) {
    .not-found {
        max-width: 280px;
        padding-top: 329px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .not-found__title {
        font-size: 80px;
    }

    .not-found__text {
        font-size: 12px;
    }

    .not-found__link {
        font-size: 12px;
    }
}