.promo {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 75px;
    padding-top: 65px;
    margin: 0 auto;
    background-color: #073042;
    display: flex;
    justify-content: space-between;
}

.promo__container {
    display: flex;
    flex-direction: column;
}

.promo__title {
    font-family: "Inter", Arial, sans-serif;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    max-width: 640px;
    margin: 0;
}

.promo__text {
    font-family: "Inter", Arial, sans-serif;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    opacity: 0.5;
    padding-top: 36px;
    max-width: 310px;
    text-align: left;
    margin-bottom: 146px
}

.promo__link {
    width: 129px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    color: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.promo__link:hover {
    opacity: 0.7;
}

.promo__img {
    bottom: 60px;
    width: 310px;
    height: 304px;
    object-fit: contain;
}

@media screen and (max-width: 940px) {
    .promo {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 140px;
        padding-bottom: 76px;
        align-items: center;
        flex-direction: column;
    }

    .promo__container {
        align-items: center;
    }

    .promo__title {
        text-align: center;
        font-size: 40px;
        line-height: 50px;
        max-width: 640px;
        margin: 0;
        padding-top: 44px;
    }

    .promo__text {
        margin: 0 auto;
        opacity: 0.5;
        padding-top: 24px;
        max-width: 260px;
        text-align: center;
        margin-bottom: 92px;
    }

    .promo__img-container{
        position: static;
        order: -1;
    }
}

@media screen and (max-width: 560px) {
    .promo {
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 60px;
        padding-bottom: 30px;
        align-items: center;
    }

    .promo__title {
        max-width: 340px;
        font-size: 30px;
        font-style: normal;
        line-height: 38px;
        letter-spacing: -1.2px;
    }

    .promo__text {
        line-height: 16px;
        margin-bottom: 80px;
    }

    .promo__img {
        width: 210px;
        height: 206px;
    }
}