.search {
    padding-top: 70px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 48px;      
}

.search__form {
    display: flex;
    justify-content:space-between;
    border-bottom: 1px solid #424242;
    padding-bottom: 13px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.search__input {
    color: #8B8B8B;
    background: #202020;
    font-family: Inter, Arial, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    outline: none;
    width: 100%; 
}

.search__btn {
    width: 34px;
    height: 34px;
    background-color: #4285F4;
    border-radius: 50px;
    border: 0;
    background-image: url("../../../images/find-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

@media screen and (max-width: 940px) {
    .search {
        padding-top: 80px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 48px;
    }

}

@media screen and (max-width: 560px) {
    .search {
        padding-top: 90px;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 51px;
    }

    .search__input {
        font-size: 18px; 
    }
}