.about-me {
    padding-top: 110px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
}

.about-me__tittle {
    font-family: Inter, Arial, sans-serif;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    margin: 0;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
}

.about-me__list {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}

.about-me__item {
    display: flex;
    flex-direction: column;
}

.about-me__tittle-name {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.about-me__who-text {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-top: 18px;
}

.about-me__text-description {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 26px;
    max-width: 600px;
    text-align: left;
}

.about-me__link {
    padding-top: 99px;
    font-family: Inter, Arial, sans-serif;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    cursor: pointer;
}

.about-me__link:hover {
    opacity: 0.7;
}


.about-me__img {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
}


@media screen and (max-width: 940px) {
    .about-me {
        padding-top: 90px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 91px;
    }

    .about-me__tittle-name {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }

    .about-me__who-text {
        font-size: 12px;
        line-height: 18px;
        padding-top: 16px;
    }

    .about-me__text-description {
        font-size: 12px;
        line-height: 18px;
        padding-top: 20px;
        width: 364px;
    }

    .about-me__img {
        width: 255px;
        height: 307px;

    }

    .about-me__link {
        padding-top: 90px;
    }
}

@media screen and (max-width: 755px) {
    .about-me__list {
        flex-direction: column;
        padding-top: 60px;
        align-items: center;
    }

    .about-me__item:last-child {
        order: -1;
    }

    .about-me__tittle-name {
        padding-top: 40px;
    }
}

@media screen and (max-width: 560px) {
    .about-me {
        padding-top: 70px;
        padding-left: 14px;
        padding-right: 14px;
        padding-bottom: 70px;
    }

    .about-me__tittle {
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .about-me__list {
        flex-direction: column;
        align-items: center;
    }

    .about-me__img {
        width: 292px;
        height: 352px;
    }

    .about-me__tittle-name {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .about-me__who-text {
        font-size: 11px;
        line-height: 16px;
        padding-top: 20px;
    }

    .about-me__text-description {
        font-size: 11px;
        line-height: 16px;
        padding-top: 20px;
        width: 292px;
    }

    .about-me__link {
        padding-top: 40px;
    }
}